*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
    min-height: 100vh; 
}

.content-body{
    display: flex;
}

aside{
    height: 100%;
    position: sticky; 
    top: 0;
} 

.aside{
    background-color:  #002245;
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 2;
    
    &.active .info{top: 100px;}
    
    .image{
        padding: 30px 0 0 30px;
        img{
            border-radius: 50%;
            width: 150px;
            border: 8px solid rgba(255, 255, 255, 0.032);
        }
    }
    .bar i{
        display: none;
        font-size: 50px;
        color: white;
        transition: 0.3s;
        cursor: pointer;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        transition: .3s;

        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
            ul{
                    line-height: 50px;
                    li{
                        list-style: none;
                        background-color: rgba(255, 255, 255, 0.016);
                        width: 17em;
                        height: 2px;
                    }
                    a{
                        text-decoration: none;
                        h2{
                            transition: 0.5s;
                            font-size: 18px;
                            color: white;
                            font-family: 'Nunito', sans-serif;
                            }
                    }
                }
            }
            .logo{
                padding: 15px 0;
    
                ul{
                    gap: 10px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 5px;
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            i{
                                transition: 0.3s;
                                font-size: 18px;
                                color: white;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }

aside .info .text ul a h2:hover{
    color: #95999d;
    font-weight: 600;
    font-stretch: 20px;
    text-indent: 15px;
}
aside .info .logo ul li a i:hover {
    color: #95999d;
    transform: scale(1.5);
}
aside .bar i:hover{
    color: #95999d;
    transform: scale(1.2);
}


main{
    flex: auto;
} 

.home{
    background-image: url(https://www.worldatlas.com/upload/9e/9d/8a/chamonix-mont-blanc-resort-alps-france-iren-key.jpg);
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .text{
        text-align: center;
        line-height: 1.6;
        h1{
            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 32px;
        }
        h2{
            color: rgb(134, 5, 5);
            letter-spacing: 4px;
            font-family: 'Nunito', sans-serif;
            font-size: 25px;
        }
    }
}
.bio{
    background-color: lightgray;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20% 100px 20%;
    gap: 40px;
    .text{
        h2{
            font-size: 28px;
            letter-spacing: 2px;
            font-family: 'Nunito', sans-serif;
            padding-bottom: 20px;
            span{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    background: #002245;
                    height: 2px;
                    width: 70px;
                    top: calc(100% + 2px);
                    left: 0;
                }
            }
        }
        p{
            font-size: 22px;
            font-family: 'Nunito', sans-serif;
        }
    }
    .bars{
        gap: 50px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .yazilim{
            h2{
            font-size: 22px;
            font-family: 'Nunito', sans-serif;
            padding-bottom: 20px;
            span{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    background: #002245;
                    height: 2px;
                    width: 50px;
                    top: calc(100% + 2px);
                    left: 0;
                }
            }
        }
        ul{
            .text{
                display: flex;
                justify-content: space-between;
                padding-top: 20px;
                p{
                    font-size: 18px;
                    font-family: 'Nunito', sans-serif;
                }
            }

            li{
                list-style: none;
                width: 250px;
                height: 5px;
            }
            li:nth-child(2){
                background: linear-gradient(90deg, rgb(184, 16, 16) 80%, rgb(190, 190, 190) 80%, rgb(190, 190, 190) 100%);
            }
            li:nth-child(4){
                background: linear-gradient(90deg, rgb(184, 16, 16) 70%, rgb(190, 190, 190) 70%, rgb(190, 190, 190) 100%);
            }
            li:nth-child(6){
                background: linear-gradient(90deg, rgb(184, 16, 16) 10%, rgb(190, 190, 190) 10%, rgb(190, 190, 190) 100%);
            }
            li:nth-child(8){
                background: linear-gradient(90deg, rgb(184, 16, 16) 30%, rgb(190, 190, 190) 30%, rgb(190, 190, 190) 100%);
            }
        }
    }
        .program{
            h2{
            font-size: 22px;
            font-family: 'Nunito', sans-serif;
            padding-bottom: 20px;
            span{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    background: #002245;
                    height: 2px;
                    width: 50px;
                    top: calc(100% + 2px);
                    left: 0;
                }
            }
        }
        ul{
            .text{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding-top: 20px;
                p{
                    font-size: 18px;
                    font-family: 'Nunito', sans-serif;
                }
            }
            li{
                list-style: none;
                width: 250px;
                height: 5px;
            }
            li:nth-child(2){
                background: linear-gradient(90deg, rgb(184, 16, 16) 65%, rgb(190, 190, 190) 65%, rgb(190, 190, 190) 100%);
            }
            li:nth-child(4){
                background: linear-gradient(90deg, rgb(184, 16, 16) 70%, rgb(190, 190, 190) 70%, rgb(190, 190, 190) 100%);
            }
            li:nth-child(6){
                background: linear-gradient(90deg, rgb(184, 16, 16) 60%, rgb(190, 190, 190) 60%, rgb(190, 190, 190) 100%);
            }
            li:nth-child(8){
                background: linear-gradient(90deg, rgb(184, 16, 16) 95%, rgb(190, 190, 190) 95%, rgb(190, 190, 190) 100%);
            }
        }
        }
    }
}

.skill{
    display: flex;
    padding: 100px 20% 100px 20%;
    width: 100%;
    background-color: rgb(221, 221, 221);
    position: relative;
    flex-direction: column;
    h2{
        font-size: 28px;
        letter-spacing: 2px;
        font-family: 'Nunito', sans-serif;
        padding-bottom: 20px;
        span{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background: #002245;
                height: 2px;
                width: 70px;
                top: calc(100% + 2px);
                left: 0;
            }
        }
    }
    .boxs{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        gap: 50px;
        .cart{
            flex: 40%;
            min-width: 250px;
            height: 300px;
            background-color: #6e6e6f;
        }
    }
}

footer{
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 5em;
    padding: 100px ;
}


@media screen and (max-width: 1000px) , (max-height: 500px){
    aside{
        position: fixed;
        width: 100%;
        height: 100px;
        z-index: 10;
    }
    
    .aside{   
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        flex-direction: row;
        align-items: center;

        .image{
            width: 80px;
            height: 80px;
            padding: 0;
        }

        .image img{
            width: 80px;
            border:  none;
        }

        .bar i{
            display: block;
        }

        .info{
            position: fixed;
            top: 100%;
            left: 0;
            background: #002345;
            height: 300px;
            width: 100%;
            transition: .5s;
            align-items: flex-start;

            .logo ul li a i{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 1270px) {
    main .bio .bars{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .yazilim ul li{
            width: 100%;
        }
        .program ul li{
            width: 100%;
        }
}
}
  @media screen and (max-width: 600px) {
    main .bio{        
        padding: 100px 8% 100px 8%;}
    main .skill {
        padding: 100px 8% 100px 8%;
    }
    main .skill .boxs .cart {
        min-width: 100%;
    }
  }