@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
/*
EMİNDEN HATIRA

Emin F12 de yazmisdi
box sahdow: 1px 0 7px 1px #000000cf (aside)
    // bide ki senin yadinnan cixar, z indexde ver
gap: 10px 5px; // Cardlar
hover(1.015) // Cardlarin hoveri

*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  min-height: 100vh;
  font-family: "Noto Serif", serif;
  background: white;
}

.title {
  font-family: "Oswald", sans-serif !important;
  font-weight: 600;
  font-size: 1.6em;
}

.content-body {
  display: flex;
}

aside {
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 1px 0 7px 1px rgba(0, 0, 0, 0.8117647059);
}

.aside {
  background-color: #002245;
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside.active .info {
  top: 100px;
}
.aside .image {
  padding-top: 55px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.aside .image img {
  border-radius: 50%;
  width: 150px;
  border: 8px solid rgba(255, 255, 255, 0.032);
}
.aside .bar i {
  display: none;
  font-size: 50px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.aside .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: 0.3s;
  padding: 0 6em 0 6em;
}
.aside .info .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.aside .info .text ul {
  line-height: 50px;
}
.aside .info .text ul li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.016);
  width: 17em;
  height: 2px;
}
.aside .info .text ul a {
  text-decoration: none;
}
.aside .info .text ul a h2 {
  transition: 0.5s;
  font-size: 18px;
  color: white;
}
.aside .info .text ul a h2:hover {
  color: #95999d;
  font-weight: 600;
  font-stretch: 20px;
  letter-spacing: 3px;
  text-indent: 10px;
}
.aside .info .logo {
  padding: 15px 0;
  width: 100%;
}
.aside .info .logo ul {
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}
.aside .info .logo ul:hover a {
  color: #7c7c7c;
}
.aside .info .logo ul li {
  list-style: none;
}
.aside .info .logo ul li a {
  color: white;
  text-decoration: none;
}
.aside .info .logo ul li a i {
  transition: 0.3s;
  font-size: 22px;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside .info .logo ul li a i:hover {
  color: white !important;
  transform: scale(1.4);
}

main {
  flex: auto;
}

section .important {
  max-width: 1200px;
  margin: auto;
  padding: 4em 4.5em;
}

#main {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#main img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(70%);
  -webkit-mask-image: linear-gradient(black, transparent 90%);
          mask-image: linear-gradient(black, transparent 90%);
}
#main .text {
  text-align: center;
  line-height: 1.4;
  position: absolute;
}
#main .text h1 {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 3em;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.674);
}
#main .text h3 {
  color: rgb(36, 1, 1);
  letter-spacing: 4px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.674);
}

#bio .important {
  padding-top: 0;
}
#bio h3 {
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 1rem;
}
#bio h3 span {
  position: relative;
}
#bio h3 span::before {
  content: "";
  position: absolute;
  background: black;
  height: 2px;
  width: 70px;
  top: calc(100% + 2px);
  left: 0;
}

#skill {
  background: rgb(242, 242, 242);
}
#skill h3 {
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 1rem;
}
#skill h3 span {
  position: relative;
}
#skill h3 span::before {
  content: "";
  position: absolute;
  background: black;
  height: 2px;
  width: 70px;
  top: calc(100% + 2px);
  left: 0;
}
#skill ul .text {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
#skill ul .text p {
  font-size: 0.9em;
  font-family: "Nunito", sans-serif;
}
#skill ul li {
  list-style: none;
  width: 100%;
  height: 5px;
}
#skill ul li:nth-child(2) {
  background: linear-gradient(90deg, #004e9c 80%, rgb(190, 190, 190) 80%, rgb(190, 190, 190) 100%);
}
#skill ul li:nth-child(4) {
  background: linear-gradient(90deg, #004e9c 70%, rgb(190, 190, 190) 70%, rgb(190, 190, 190) 100%);
}
#skill ul li:nth-child(6) {
  background: linear-gradient(90deg, #004e9c 10%, rgb(190, 190, 190) 10%, rgb(190, 190, 190) 100%);
}
#skill ul li:nth-child(8) {
  background: linear-gradient(90deg, #004e9c 30%, rgb(190, 190, 190) 30%, rgb(190, 190, 190) 100%);
}

#nailiyyet .important {
  display: flex;
  position: relative;
  flex-direction: column;
}
#nailiyyet h3 {
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 1.3rem;
}
#nailiyyet h3 span {
  position: relative;
}
#nailiyyet h3 span::before {
  content: "";
  position: absolute;
  background: black;
  height: 2px;
  width: 70px;
  top: calc(100% + 2px);
  left: 0;
}
#nailiyyet .boxs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px 10px;
}
#nailiyyet .boxs .cart {
  transition: 0.3s;
  flex: 40%;
  min-width: 250px;
  height: 300px;
  display: flex;
  background-color: #6e6e6f;
}
#nailiyyet .boxs .cart a {
  display: flex;
  width: 100%;
}
#nailiyyet .boxs .cart a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
#nailiyyet .boxs .cart a img:hover {
  filter: brightness(65%) blur(2px);
}

.cart:hover {
  transform: scale(1.015);
}

#iletisim {
  background: rgb(242, 242, 242);
}
#iletisim .important {
  display: flex;
  flex-direction: column;
}
#iletisim h2 {
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 2rem;
}
#iletisim h2 span {
  position: relative;
}
#iletisim h2 span::before {
  content: "";
  position: absolute;
  background: black;
  height: 2px;
  width: 70px;
  top: calc(100% + 2px);
  left: 0;
}
#iletisim .container {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8117647059);
}
#iletisim .container .contact {
  width: 100%;
  height: 100%;
}
#iletisim .container .contact form {
  margin: 35px;
}
#iletisim .container .contact form .inputfield {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  outline: none;
  border: 1px solid #777;
}
#iletisim .container .contact form .none {
  margin-top: 0;
}
#iletisim .container .contact form .textareafield {
  height: 150px;
  padding-top: 10px;
}
#iletisim .container .contact form button {
  border-radius: 20px;
  color: white;
  margin-top: 18px;
  height: 3em;
  width: 10em;
  background-color: #002245;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
#iletisim .container .info {
  height: 100%;
  display: flex;
  margin: 40px 40px 40px 0;
  flex-direction: column;
  gap: 2.45em;
}
#iletisim .container .info .icon {
  gap: 2em;
  display: flex;
  align-items: center;
}
#iletisim .container .info .icon i {
  color: #002345;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
  font-size: 22px;
}

button:hover {
  background-color: #002e5c;
}

footer {
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.35rem;
}
footer h5 {
  color: white;
  font-size: 1.2em;
}
footer p {
  color: white;
  font-size: 0.8em;
}

@media screen and (max-width: 1000px), (max-height: 500px) {
  aside {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
  }
  .aside {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-direction: row;
    align-items: center;
  }
  .aside .image {
    width: 80px;
    height: 80px;
    padding: 0;
  }
  .aside .image img {
    width: 80px;
    border: none;
  }
  .aside .image h2 {
    display: none;
  }
  .aside .bar i {
    display: block;
  }
  .aside .info {
    position: fixed;
    top: 100%;
    left: 0;
    background: #002345;
    height: 300px;
    width: 100%;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
  }
  .aside .info h2 {
    text-align: center;
  }
  .aside .info .text ul li {
    width: 30em;
  }
  .aside .info .logo ul li a i {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #iletisim .important .container {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */