*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
    min-height: 100vh;
    background-color: lightgray;
}

aside{
    background-color:  #002245;
    width: 350px;
    height: 100vh;
    position: fixed; 
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    .image{
        padding: 30px 0 0 30px;
        img{
            border-radius: 50%;
            width: 150px;
            border: 8px solid rgba(255, 255, 255, 0.032);
        }
    }
    .bar i{
        display: none;
        font-size: 50px;
        color: white;
        transition: 0.3s;
        cursor: pointer;
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
                ul{
                    line-height: 50px;
                    li{
                        list-style: none;
                        background-color: rgba(255, 255, 255, 0.016);
                        width: 17em;
                        height: 2px;
                    }
                    a{
                        text-decoration: none;
                        h2{
                            transition: 0.5s;
                            font-size: 18px;
                            color: white;
                            font-family: 'Nunito', sans-serif;
                            }
                    }
                }
            }
            .logo{
                padding: 15px 0;
    
                ul{
                    gap: 10px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 5px;
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            i{
                                transition: 0.3s;
                                font-size: 18px;
                                color: white;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }

// aside .image img:hover{

// }
aside .text ul a h2:hover{
    color: #95999d;
    font-weight: 600;
    font-stretch: 20px;
    text-indent: 15px;
}
aside .info .logo ul li a i:hover {
    color: #95999d;
    transform: scale(1.5);
}
aside .bar i:hover{
    color: #95999d;
    transform: scale(1.2);
}
@media screen and (max-width: 1000px){
    aside{   
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        flex-direction: row;
        align-items: center;
    }
    aside .image{
        width: 80px;
        height: 80px;
        padding: 0;
    }
    aside .image img{
        width: 80px;
        border:  none;
    }
    aside .bar i{
        display: block;
    }
    aside .info{
        display: none;
    }
}
@media screen and (max-height:550px){
    aside{   
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        flex-direction: row;
        align-items: center;
    }
    aside .image{
        width: 80px;
        height: 80px;
        padding: 0;
    }
    aside .image img{
        width: 80px;
        border:  none;
    }
    aside .bar i{
        display: block;
    }
    aside .info{
        display: none;
    }
}

main .home{
    background-image: url(https://www.worldatlas.com/upload/9e/9d/8a/chamonix-mont-blanc-resort-alps-france-iren-key.jpg);
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .text{
        text-align: center;
        line-height: 1.6;
        h1{
            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 32px;
        }
        h2{
            color: rgb(134, 5, 5);
            letter-spacing: 4px;
            font-family: 'Nunito', sans-serif;
            font-size: 25px;
        }
    }
}