@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/*
EMİNDEN HATIRA

Emin F12 de yazmisdi
box sahdow: 1px 0 7px 1px #000000cf (aside)
    // bide ki senin yadinnan cixar, z indexde ver
gap: 10px 5px; // Cardlar
hover(1.015) // Cardlarin hoveri

*/

// Hay men seniiiiiin ○☺☻
// Problem solved


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$primary: #004e9c;

html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    font-family: 'Noto Serif', serif;
    background:white;
}

.title{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 600;
    font-size: 1.6em;
}

.content-body{
    display: flex;
}

aside{
    height: 100%;
    position: sticky; 
    top: 0;
    z-index: 5;
    box-shadow: 1px 0 7px 1px #000000cf;
} 

.aside{
    background-color:  #002245;
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.active .info{top: 100px;}
    
    .image{
        padding-top: 55px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        color: white;
        img{
            border-radius: 50%;
            width: 150px;
            border: 8px solid rgba(255, 255, 255, 0.032);
        }
    }
    .bar i{
        display: none;
        font-size: 50px;
        color: white;
        transition: 0.3s;
        cursor: pointer;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        transition: .3s;
        padding: 0 6em 0 6em;

        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
            ul{
                    line-height: 50px;
                    li{
                        list-style: none;
                        background-color: rgba(255, 255, 255, 0.016);
                        width: 17em;
                        height: 2px;
                    }
                    a{
                        text-decoration: none;
                        h2{
                            transition: 0.5s;
                            font-size: 18px;
                            color: white;

                            &:hover{
                                color: #95999d;
                                font-weight: 600;
                                font-stretch: 20px;
                                letter-spacing: 3px;
                                text-indent: 10px;
                            }
                        }
                    }
                }
            }
            .logo{
                padding: 15px 0;
                width: 100%;
    
                ul{
                    display: flex;
                    justify-content: space-between;

                    transition: .5s;
                    
                    &:hover{
                        a{color: #7c7c7c;}
                    }

                    li{
                        list-style: none;
                        a{
                            color: white;
                            text-decoration: none;
                            

                            i{
                                transition: 0.3s;
                                font-size: 22px;
                                justify-content: space-between;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                &:hover{
                                    color: white !important;
                                    transform: scale(1.4);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

main{
    flex: auto;
} 
section .important{
    max-width: 1200px;
    margin: auto;
    padding: 4em 4.5em;
}  

#main{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img{
        width: 100%;
        height: 90vh;
        object-fit: cover;
        filter: brightness(70%);
        mask-image: linear-gradient(black, transparent 90%)
    }
    .text{
        text-align: center;
        line-height: 1.6;
        position: absolute;
        h1{
            color: white;
            font-family: 'Inter', sans-serif;
            font-size: 30px;
            text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.674);
        }
        h3{
            color: $primary;
            letter-spacing: 4px;
            font-family: 'Nunito', sans-serif;
            font-size: 22px;
            text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.674);
        }
    }
}

#bio{
    .important{
        padding-top: 0;
    }
    h3{
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 1rem;
        span{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background: black;
                height: 2px;
                width: 70px;
                top: calc(100% + 2px);
                left: 0;
            }
        }
    }
}

#skill{
    background: rgb(242, 242, 242);
    h3{
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 1rem;
        span{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background: black;
                height: 2px;
                width: 70px;
                top: calc(100% + 2px);
                left: 0;
            }
        }
    }
    ul{
        .text{
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            p{
                font-size: 0.9em;
                font-family: 'Nunito', sans-serif;
            }
        }
        li{
            list-style: none;
            width: 100%;
            height: 5px;
        }
            li:nth-child(2){
                background: linear-gradient(90deg, $primary 80%, rgb(190, 190, 190) 80%, rgb(190, 190, 190) 100%);
            }
            li:nth-child(4){
                background: linear-gradient(90deg, $primary 70%, rgb(190, 190, 190) 70%, rgb(190, 190, 190) 100%);
            }
            li:nth-child(6){
                background: linear-gradient(90deg, $primary 10%, rgb(190, 190, 190) 10%, rgb(190, 190, 190) 100%);
            }
            li:nth-child(8){
                background: linear-gradient(90deg, $primary 30%, rgb(190, 190, 190) 30%, rgb(190, 190, 190) 100%);
            }
    }
}

#nailiyyet{
    .important{
    display: flex;
    position: relative;
    flex-direction: column;
    }
    h3{
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 1.3rem;
        span{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background: black;
                height: 2px;
                width: 70px;
                top: calc(100% + 2px);
                left: 0;
            }
        }
    }
    .boxs{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px 5px;
        .cart{
            transition: 0.3s;
            flex: 40%;
            min-width: 250px;
            height: 300px;
            background-color: #6e6e6f;
        }
    }
}
.cart:hover{
    transform: scale(1.015);
}

#iletisim{
    background: rgb(242, 242, 242);
    .important{
        display: flex;
        flex-direction: column;
    }
    h2{
        font-size: 22px;
        letter-spacing: 2px;
        font-family: 'Nunito', sans-serif;
        margin-bottom: 2rem;
        span{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background: black;
                height: 2px;
                width: 70px;
                top: calc(100% + 2px);
                left: 0;
            }
        }
    }
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        box-shadow: 0 0 10px #000000cf;
        .contact{
            background: white;
            width: 100%;
            height: 100%;
            form{
                margin: 35px;
                .inputfield{
                    width: 100%;
                    height: 40px;
                    margin-top: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 15px;
                    outline: none;
                    border: 1px solid #777;
                }
                .none{
                    margin-top: 0;
                }
                .textareafield{
                    height: 150px;
                    padding-top: 10px;
                }
                button{
                    border-radius: 20px;
                    color: white;
                    margin-top: 18px;
                    height: 3em;
                    width: 10em;
                    background-color: #002245;
                    font-size: 12px;
                    border: none;
                    cursor: pointer;
                }
            }
        }
        .info{
            width: 100%;
            height: 100%;
            display: flex;
            margin-top: 40px;
            margin-bottom: 40px;
            flex-direction: column;
            padding-left: 10px;
            gap: 2.45em;
            .icon{
                gap: 2em;
                display: flex;
                align-items: center;
                i{
                    font-size: 22px;
                }
            }
        }
    }
}
button:hover{
    background-color: #002e5c;
}
footer{
    background-color: rgb(26, 26, 26);
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.35rem;
    h5{
        color: white;
        font-size: 1.2em;
    }
    p{
        color: white;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1000px) , (max-height: 500px){
    aside{
        position: fixed;
        width: 100%;
        height: 100px;
        z-index: 10;
    }
    
    .aside{   
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        flex-direction: row;
        align-items: center;

        .image{
            width: 80px;
            height: 80px;
            padding: 0;
            img{
                width: 80px;
                border:  none;
            }    
            h2{
                display: none;
            }
        }

        .bar i{
            display: block;
        }

        .info{
            position: fixed;
            top: 100%;
            left: 0;
            background: #002345;
            height: 300px;
            width: 100%;
            transition: .5s;
            align-items: center;
            justify-content: center;
        h2{
            text-align: center;
        }
        .text ul li{
            width: 30em;
        }
            .logo ul li a i{
                display: none;
            }
        }

    }
}
@media screen and (max-width: 900px){
    #iletisim .important .container{
        display: flex;
        flex-direction: column;
    }
    footer{
    display: flex;
    gap: 10px;
    flex-direction: column;

    }
}

